@import './main/variables';

.header {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 5vh;
  @media screen and (max-width: 700px) {
    display: block;
  }
  @media screen and (max-width: 400px) {
    margin-bottom: 8vh;
  }
  .active {
    border-bottom: 2px solid $color-accent;
  }
  .logo {
    display: inline-block;
    color: $color-secondary;
    width: 50%;
    padding: 16px 0;
    @media screen and (max-width: 700px) {
      width: 100%;
      text-align: center;
      margin-bottom: 2vh;
      padding: 0;
    }
  }
  nav {
    width: 50%;
    padding: 16px 0;
    margin: auto;
    @media screen and (max-width: 700px) {
      width: 100%;
      padding: 0 15vw;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 400px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
      li {
        color: $color-secondary;
        padding: 0 5px;
        @media screen and (max-width: 400px) {
          padding: 10px;
          &:nth-child(even) {
            border-left: 1px solid $color-accent;
            text-align: left;
          }
          &:nth-child(odd) {
            border-right: 1px solid $color-accent;
            text-align: right;
          }
        }
        i[class^='mi-'] {
          padding-right: 4px;
        }
      }
    }
  }
}
