@import './main/variables';
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 15vh;
  @media screen and (max-width: 400px) {
    height: auto;
  }
  @media screen and (max-height: 750px) {
    margin-top: 20vh;
  }
  .title {
    font-size: 100px;
    font-weight: 800;
    line-height: 100px;
    font-feature-settings: 'kern';
    letter-spacing: -0.03em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: 450px) {
      font-size: 70px;
      line-height: 70px;
    }
    @media screen and (max-width: 350px) {
      font-size: 3rem;
    }
  }
  .subtitle {
    padding: 28px 0;
    font-style: italic;
    @media screen and (max-width: 400px) {
      font-size: 18px;
    }
    @media screen and (max-width: 300px) {
      font-size: 14px;
    }
  }
  .microtitle {
    @media screen and (max-width: 400px) {
      font-size: 12px;
    }
  }
}
