@import './main/variables';

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 80px;
  bottom: 80px;
  width: auto;
  height: auto;
  @media screen and (max-width: 400px) {
    flex-direction: row;
    position: initial;
    margin-top: 20vh;
  }
  .social {
    width: 24px;
    height: 24px;
    margin: 0 8px;
  }
}
