@import './main/variables';

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 30vw;
  width: 100%;
  position: absolute;
  bottom: 100px;
  a {
    font-weight: 900;
    width: 24px;
    height: 24px;
  }
}
