@import './main/variables';
.container {
  margin: 5vh 10vw;
  h1 {
    margin-bottom: 5vh;
  }
  li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 2vh 0;
    padding: 2vh;
    border: 2px solid $color-accent;
    border-radius: 5px;
    .social {
      width: 24px;
      height: 24px;
    }
  }
}
